.game-main {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 80px;
  height: 450px;
  justify-content: center;
  margin-top: 150px;
}

.category {
  align-items: center;
  background: #f0c62d;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  letter-spacing: 0.02em;

  /* min-height: 45px; */
  text-align: center;

  /* top: 275px; */
  width: 413px;
}

.question-section {
  align-items: center;
  background: rgba(255, 255, 255, 0.567);
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 386px;
  justify-content: space-around;
  margin-left: 280px;
  padding: 20px;
  text-align: center;
}

.question-text {
  color: black;
  font-size: 20px;

  /* font-style: normal; */
  font-weight: 400;
  left: 114px;
  line-height: 150%;

  /* min-height: 50px; */
  max-width: 413px;
}

.question-category {

  /* color: white; */
  font-size: 18px;

  /* font-style: normal; */
  font-weight: 400;

  /* line-height: 24px; */
}

.rt-game-info {
  align-items: center;
  color: #ea5d5d;
  display: flex;
  font-size: 16px;
  font-weight: 700;

  /* height: 38px; */
  justify-content: space-around;

  /* left: 114px; */

  /* letter-spacing: 0.12em; */

  /* line-height: 150%; */
  text-align: center;

  /* top: 545px; */
  width: 413px;
}

.answer-option {
  background: white;
  border: 1px solid white;
  border-radius: 100px;

  /* box-sizing: border-box; */
  height: 64px;
  margin: 10px;
}

div .answer-option {
  width: 60%;
}

.answer-option:hover {
  border: 2px solid #582e83;
}

.correct {
  border: 2px solid rgb(6, 240, 15);
}

.wrong {
  border: 2px solid red;
}

.game-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.next-question {
  background: #582e83;
  border: 1px solid #582e83;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 18px;
  height: 45px;
  width: 20%;
}
