header {
  background: #349a73;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  color: aliceblue;
  display: flex;
  font-family: Epilogue , Helvetica , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 113px;
  justify-content: space-between;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 100%;
}

.trivia-img {
  height: 85%;
  margin-left: 80px;
  margin-top: 7px;
}

header div {
  align-items: center;
  display: flex;
  width: 50%;
}

.player-info {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-left: 70px;
}

.user-image {
  border-radius: 18.137px;
  height: 37px;
  left: 696px;
  top: 39px;
  width: 37px;
}

h4 {
  height: 24px;
  left: 746px;
  top: 49px;
  width: 144px;
}

.score {
  font-weight: 700;
}
