body {
  background-image: url('/src/img/background.png');
  background-repeat: no-repeat;
  background-size: 1390px;
  left: -7px;
  overflow: hidden;
  top: 0;
}

/* main {
  display: flex;

} */

.img-balao {
  height: 259.07px;
  left: 545px;
  position: absolute;
  top: 44.97px;
}

form {
  align-items: center;
  background: #74f76d2e;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 266px;
  justify-content: center;
  left: 348px;
  position: relative;
  top: 368px;
  width: 614px;
}

.inputs {
  align-items: center;
  background: white;
  border: 1px solid #d9d7d7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
  margin: 6px;
  outline: none;
  padding-left: 15px;
  width: 76%;
}

/* .inputs:placeholder {
  background-color: #08754d;
} */

.buttons {
  background-color: #4f185a;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  height: 40px;
  justify-content: center;
  left: 407px;
  margin: 6px;
  top: 598px;
  width: 80%;
}

.unbelievable {
  background-color: #0a5840;
}

.buttons:disabled {
  background-color: #81a197;
  color: #2c3834;
  cursor: not-allowed;
}

.buttons:hover {
  background-color: #492869;

}

.unbelievable:hover {
  background-color: #185a42;

}


.buttons:disabled:hover {
  background-color: #81a197;
  color: #2c3834;
  cursor: not-allowed;
}
