.ranking-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ranking-card {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  width: 540px;
}

.player-ranking-info {
  background: rgba(255, 255, 255, 0.779);
  border-radius: 10px;
  display: flex;
  font-size: 26px;
  height: 65px;
  justify-content: space-between;
  padding: 0 20px;
  width: 70%;

}

.player-ranking-info:hover {
  background: white;
}

.player-ranking-info div {
  align-items: center;
  display: flex;
  gap: 10px;
}

.player-ranking-image {
  border-radius: 20px;
  width: 40px;
}

.player-ranking-score {
  font-weight: 400;
}

.home-button {
  background-color: #582e83;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 25%;
}
